; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
modify:
{
	match:
	{
		"targetname" "coop_scriptstart"
	}
	delete:
	{
		"OnTrigger" "directorBeginScriptc6m3_port0-1"
	}
	insert:
	{
		"OnTrigger" "directorBeginScriptsurvelite_fs0-1"
		"OnTrigger" "directorBeginScriptitemExFunc0-1"
		"OnTrigger" "directorBeginScriptmapspawn_addon0-1"
		"OnTrigger" "directorBeginScriptsurvelite_cth0-1"
	}
}

; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================

; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================


; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
; --- Disable jukebox to prevent trolling
modify:
{
	match:
	{
		"targetname" "jukebox_button"
	}
	replace:
	{
		"spawnflags" "33"
	}
}
; --- Solidify awning on store at the top of the ramp
add:
{
	"classname" "prop_dynamic"
	"origin" "607.7 1759.75 296.467"
	"angles" "0 180.0 0"
	"model" "models/props_street/awning_department_store.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================
add:
; --- hedge 1
{
	"classname" "prop_dynamic"
	"origin" "632 1217 144"
	"angles" "0 0 0"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- hedge 2
{
	"classname" "prop_dynamic"
	"origin" "394 1218 144"
	"angles" "0 0 0"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- hedge 3
{
	"classname" "prop_dynamic"
	"origin" "296 1110 144"
	"angles" "0 90 0"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- barricade 1
{
	"classname" "prop_dynamic"
	"origin" "7 1078 155"
	"angles" "0 90 0"
	"model" "models/props_street/police_barricade4.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- cover 1
{
	"classname" "prop_dynamic"
	"origin" "-1157 1071 159"
	"angles" "0 90 0"
	"model" "models/props_urban/fence_cover001_128.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- hedge 4
{
	"classname" "prop_dynamic"
	"origin" "-1801 1026 144"
	"angles" "0 0 0"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- hedge 5
{
	"classname" "prop_dynamic"
	"origin" "-1983 1029 144"
	"angles" "0 0 0"
	"model" "models/props_foliage/urban_hedge_128_64_high.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- hedge 6
{
	"classname" "prop_dynamic"
	"origin" "-2123 695 144"
	"angles" "0 90 0"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- hedge 7
{
	"classname" "prop_dynamic"
	"origin" "-2081 604 144"
	"angles" "0 0 0"
	"model" "models/props_foliage/urban_hedge_128_64_high.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- fence 1
{
	"classname" "prop_dynamic"
	"origin" "-2051 71 1"
	"angles" "0 270 0"
	"model" "models/props_urban/fence001_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}



; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==   Nerf ladder & elevator attacks for infected   ==
; =====================================================


; ############  MAP SOUND AND GFX CHANGES  ############
; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================


; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================


; #######  MISCELLANEOUS / MAP SPECIFIC CHANGES  ######
; =====================================================
; ==                   Director                      ==
; ==                    Inserts                      ==
; =====================================================
